*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-style: italic;
    color: blue;
    max-height: 30%;
}

p{
    font-size: small;
    line-height: 30px;
    min-width: none;
}

a{
    font-weight: 900;
    height: 30%;
}

img{
    opacity: 0.5;
}